/* Colors I've been using-
for darker elements like hover:  #343A40
for normal greys: #495057
for background/text color against greys: #E9ECEF
*/

/* General Background color */
body{
    background-color: #E9ECEF;
    
}

/* Header css */
header{
    text-align: center;
}

/* Navigation css */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#495057;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: #E9ECEF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #343A40;
}

main{
    margin: 1%;
    text-align: center;
}

/* Footer css */
footer{
    background-color:  #495057;
    color: #E9ECEF;
    padding: 0%;
    align-content: center;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li{
    width: 10%;
    /* float: left; */
    display:inline-block;
    margin: .5%, 1%, 1%, .5%;
    padding: .5%;
    text-align: center;
}

footer a{
    color: #E9ECEF;
}

img{
    width: 25%;
    display: block;
}


