/* Bo's jank ass css */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html, body {
    height: 100%;
	overflow: hidden;
	
}

.Box{
	padding: 0;
	height: 100%;
	width: 100%;
	display: inline-block;
}
.Top{
	position: absolute;
	margin: 0;
	padding: 0;
}
.Diagonal{
	height: 100%;
	width: 100%;
}
.Bottom{
	transform: skewX(-63deg);
	margin-left: 71vw;
	padding-top: 68vh;
	background: linear-gradient(to bottom, #c31432,#240b36);
}

.Bottom h2{
	text-decoration: none;
	padding-bottom: 5vh;
	padding-left: 5vw;
	font-size: 1.5vw;
	transform: skewX(63deg);
	color: white;
}
.Bottom ul li{
	list-style-type: none;
}
.Bottom ul li:hover{
	background-color: #c31432;
	transform: skewX(-2deg);
}

#companyname{
	position: absolute;
	transform: skewX(63deg);
	/* bottom: 30px; */
	padding-top: 20vh;
	left: 7vw;

}